.mole1 {
    border: solid black 1px;
    background-color: black;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    margin: auto;
}

.hidden {
    display: none;
}

.shown {
    display: block;
}

.mole1:hover {
    cursor: url('https://cdn0.iconfinder.com/data/icons/electricity-and-functional-elements/512/keyboard-key-trash-garbage-delete-files-128.png') 50 50, auto;
}
