:root {
	--off-white: #dbdbdb;
	--orange: #fa4c09;
	--pink: #ff0063;
	--blue: #337bff;
	--purple: #7831e9;
	--yellow: #ffb60e;
	--footer-text: #a2a2a2;
	--footer-link: #5c5c5c;
	--table-dark: #cdcdcd;
	--table-light: #d4d4d4;
	--dark-blue: #082a67;
	--game-over-bkg: #383838;
}
* {
	box-sizing: border-box;
}

body {
	background-color: #dbdbdb;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: #333;
}

p {
	margin-bottom: 20px;
}
.hackamole {
	font-weight: 900;
	color: var(--pink);
	-webkit-text-stroke: 1px white;
	text-shadow: 4px 4px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: bold;
}
h1 {
	color: var(--orange);
	font-size: 3.1rem;
	text-align: center;
	margin-bottom: 30px;
	font-weight: 900;
	-webkit-text-stroke: 1px white;
	text-shadow: 4px 4px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
h3 {
	text-align: center;
	color: #444;
	text-transform: uppercase;
	font-size: 2rem;
	font-weight: 600;
}
h3 span {
	font-weight: 300;
}
hr {
	height: 6px;
	background-color: var(--footer-text);
	border: none;
}

/* 
//////Header
*/

header {
	min-height: 125px;
	display: flex;
	justify-content: space-between;
}
a.logo {
	padding: 30px 20px;
	text-decoration: none;
	max-width: 110px;
	text-align: center;
}
a.logo span {
	font-size: .6rem;
	color: var(--footer-text);
	text-transform: uppercase;
	font-weight: 700;
}
/* 
//////layout
*/
.row {
	max-width: 800px;
	margin: 0 auto;
}

/* 
//////nav
*/
nav {
	padding: 30px 20px;
}
nav ul li {
	display: inline-block;
	margin: 0 20px;
}
nav a {
	font-weight: 900;
	font-size: .9rem;
	text-transform: uppercase;
	text-decoration: none;
}
nav a {
	-webkit-text-stroke: 1px white;
	text-shadow: 2px 2px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

nav .play-game a {
	color: var(--blue);
}
nav .play-game svg {
	color: var(--blue);
}
nav .high-scores a {
	color: var(--purple);
}
nav .high-scores svg {
	color: var(--purple);
}
nav .share button {
	color: var(--pink);
	font-weight: 900;
	font-family: "Montserrat", sans-serif;
	border: none;
	font-size: .9rem;
	text-transform: uppercase;
	background: none;
	-webkit-text-stroke: 1px white;
	text-shadow: 2px 2px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
nav .share svg {
	color: var(--pink);
}
nav svg {
	margin-right: 15px;
	transform: scale(1.5);
}

/* 
////// Share schtuff
*/

div.App {
	position: absolute;
	top: 100px;
	right: 0;
}
div.App svg {
	filter: saturate(0);
	transition: all .2s ease-in-out;
}
div.App svg:hover {
	filter: saturate(1);
	transform: scale(1.2);
}

/* 
////// Game Board
*/
span.timer {
	font-size: 7rem;
	color: var(--purple);
	font-weight: 900;
	display: block;
	text-align: center;
	-webkit-text-stroke: 1px white;
	text-shadow: 5px 5px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}
.countdown p {
	margin-top: 40px;
	text-align: center;
}
.start-btn {
	text-align: center;
}
.start {
	padding: 20px 40px;
	margin: 20px 0;
	font-size: 1.2rem;
	text-transform: uppercase;
	color: white;
	background-color: var(--blue);
	cursor: pointer;
	border: none;
	border-radius: 10px;
	transition: all .2s ease-in-out;
	box-shadow: 0 2.2px 1.6px rgba(0, 0, 0, 0.024), 0 6.1px 4.5px rgba(0, 0, 0, 0.035),
		0 14.8px 10.9px rgba(0, 0, 0, 0.046), 0 49px 36px rgba(0, 0, 0, 0.07);
}
.start span {
	color: var(--dark-blue);
	text-transform: capitalize;
	font-size: .8rem;
	font-weight: 900;
	transition: color .2s ease-in-out;
}
p[role=button] {
	text-align: center;
}
.start:hover {
	background-color: var(--purple);
}
.start:hover span {
	color: white;
}
.start svg {
	margin-right: 15px;
	transform: scale(1.5);
}
.wait {
	text-decoration: none;
	color: var(--pink);
	font-size: .9rem;
	font-weight: 700;
	display: block;
	text-align: center;
}
.wait:visited {
	text-decoration: none;
}
/* 
//////computers
*/
.grid {
	display: flex;
	padding-top: 40px;
	flex-wrap: wrap;
	justify-content: space-around;
}
.grid .box {
	flex-basis: 30%;
	width: 30%;
	margin-bottom: 5vw;
	min-height: 100px;
}

.hidden {
	display: none;
}

.shown {
	display: block;
}

.mole1:hover {
	cursor: url('https://arrow.drewolsen.dev/wp-content/uploads/squirrelHammer-1.png') 43 35, auto;
}
.mole2:hover {
	cursor: url('https://arrow.drewolsen.dev/wp-content/uploads/squirrelHammer-1.png') 86 71, auto;
}

.box .mole1 img,
.box .mole2 img {
	height: auto;
	width: 100%;
}
.grid .computer {
	width: 100%;
	height: auto;
	position: absolute;
	pointer-events: none;
}
.mole1,
.mole2 {
	padding: 13px 25px;
	border-radius: 8px;
	width: 53%;
	margin: auto;
	position: absolute;
	top: 2px;
	left: 50%;
	transform: translate(-50%);
}
/* ////// This is gary*/
.mole1 {
	background-color: var(--pink);
}
/* ////// This is gage*/
.mole2 {
	background-color: var(--yellow);
}
.clickable-game-object {
	position: relative;
}

.backdrop {
	width: 100%;
	height: 100%;
	position: absolute;
}

/* 
////// High Scores Table
*/
.highScores {
	margin: 0 4%;
}
table {
	width: 100%;
}
th {
	text-transform: uppercase;
	text-align: left;
	color: var(--footer-link);
	padding: 10px;
	font-size: .9rem;
	font-weight: bold;
}
th:last-child {
	text-align: right;
}
tr {
	background-color: var(--table-dark);
}
tr:nth-child(odd) {
	background-color: var(--table-light);
}
tr.table-header {
	background-color: transparent;
	font-size: 1rem;
}
td {
	padding: 20px 10px;
	font-weight: 900;
}
td.position {
	color: var(--footer-link);
	padding-left: 25px;
}
td.name {
	color: var(--purple);
	-webkit-text-stroke: 1px white;
	text-shadow: 2px 2px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
	font-size: 1.2rem;
	text-transform: uppercase;
}
td.score {
	color: var(--pink);
	text-shadow: 2px 2px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
	text-align: right;
	padding-right: 15px;
	font-size: 1.2rem;
}
/* 
////// Instructions - stuff like ol's and schtuff
*/
.instructions {
	padding: 10px 4%;
}
.instructions p {
	line-height: 1.8rem;
	font-size: 1.2rem;
	font-weight: normal;
}

.rules {
	counter-reset: my-badass-counter;
	margin: 40px 4% 15px;
}
.rules dt:before {
	content: counter(my-badass-counter);
	counter-increment: my-badass-counter;
	color: var(--pink);
	text-shadow: 4px 4px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
	font-weight: 900;
	float: left;
	min-width: 40px;
	text-align: right;
	font-size: 4rem;
	padding: 0 25px 20px 0;
	margin-top: -10px;
}
dt {
	color: var(--purple);
	font-weight: 600;
	font-size: 1.2rem;
	padding: 10px 5px;
	clear: both;
}
dd {
	font-size: .9rem;
}

/* 
////// Game Over
*/
.game-over {
	background-color: var(--game-over-bkg);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	padding: 40px;
	z-index: 100;
	box-shadow: 0 4.6px 2.2px rgba(0, 0, 0, 0.022), 0 11.1px 5.3px rgba(0, 0, 0, 0.032),
		0 20.9px 10px rgba(0, 0, 0, 0.04), 0 37.3px 17.9px rgba(0, 0, 0, 0.048), 0 69.8px 33.4px rgba(0, 0, 0, 0.058),
		0 167px 80px rgba(0, 0, 0, 0.08);
}
.game-over h2 {
	color: var(--yellow);
	text-align: center;
	font-size: 2.4rem;
	font-weight: 900;
	-webkit-text-stroke: 1px white;
	text-shadow: 3px 3px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
	margin-bottom: 20px;
}
.game-over p {
	color: var(--off-white);
}
.game-over .buttons {
	display: flex;
	justify-content: center;
	margin: 50px 0 0;
}
.game-over button {
	margin: 0 10px;
	border: none;
	cursor: pointer;
}
.game-over button:hover {
	opacity: .8;
}
.game-over .btn {
	border-radius: 6px;
	padding: 10px 15px;
	color: white;
}
.game-over .play-again {
	background-color: var(--blue);
}
.game-over .submit-score {
	background-color: var(--purple);
	margin-left: 20px;
}
.game-over .score {
	font-weight: 900;
	-webkit-text-stroke: 1px white;
	text-shadow: 3px 3px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
	color: var(--orange);
}
.game-over h3 {
	color: var(--off-white);
	display: block;
	padding: 25px 0;
}
.game-over input[type=text] {
	width: 100%;
	border-radius: 5px;
	background-color: #545454;
	line-height: 2rem;
	padding: 15px 30px;
	font-size: 1.2rem;
	border: none;
	color: white;
}
.game-over .submit {
	color: white;
	background-color: var(--orange);
	padding: 15px 35px;
	margin: 10px auto;
	text-transform: upper;
}
.game-over label {
	color: white;
	margin-bottom: 5px;
	font-size: .8rem;
	text-transform: uppercase;
	font-weight: 600;
}

/* 
//////Footer
*/
footer {
	color: var(--footer-text);
	font-size: .8rem;
	display: flex;
	font-weight: bold;
	width: 100%;
	justify-content: space-between;
	padding: 4% 20px;
}
footer .github a {
	color: var(--footer-link);
	text-decoration: none;
}
