.mole2 {
    border: solid #770a0a 1px;
    background-color: #770a0a;
    border-radius: 30px;
    width: 60px;
    height: 60px;
    margin: auto;
}

.hidden {
    display: none;
}

.shown {
    display: block;
}
